
<ion-header>
  <ion-toolbar color="info">
    <ion-title> Brazzil-Burger </ion-title>
  </ion-toolbar>
</ion-header>
<!-- <ion-router-outlet></ion-router-outlet> -->
<ion-content>
  <ion-slides>
    <ion-slide>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere odio assumenda fugiat sint aliquid distinctio modi ex. Dolores, eveniet et.</p>
    </ion-slide>
    <ion-slide>
      <form [formGroup]="myForm" (ngSubmit)="login()">
        <div>Email: <input type="text" ngModel formControlName="username"  placeholder="Votre login"> </div>
        <div>Password: <input type="text" ngModel formControlName="password"  placeholder="Votre Password"> </div>
        <button>Connexion</button>
      </form>   
    </ion-slide>
 </ion-slides>
</ion-content>

<ion-footer>
  <p>pied de page</p>
</ion-footer>
